body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    font-size: 1.5vw;
}

#logo {
    margin: 150px;
    padding: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    inline-size: 40%;
    text-shadow:
    1px 1px 0px black
    -1px 1px 0px black
    1px -1px 0px black
    -1px -1px 0px black;  
}

ul {
    margin: 0px;
}

body > header {
    background-color: yellowgreen;
    color: white;
    display: flex;
    block-size: 12vh;
    align-items: center;
    justify-content: space-around;
}


#nav-ul {
    display: flex;
}

#nav-ul > li {
    padding: 8px;
    margin: 0px;
}

#filter1 {
    color: blue;
    
}
body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}
.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
}


body >  main article {
    inline-size: 70%;
    margin: auto;
}

form {
    text-align: center;
}
h2 {
    text-align: center;
}
body > footer {
    background-color: yellowgreen;
    display: flex;
}

img {
    border-radius: 100%;
}

#footer-ul {
    display: flex;
    list-style: none;
}

#footer-ul > div > li {
    margin-inline-start: 12px;
   
}

#footer-ul > div > li > a{
    color: white;
    text-decoration: none;
}

#main-content {
    display: flex;
    justify-content: space-evenly;
}

#main-content > div {
    inline-size: 80%;
}

#facts-title {
    font-size: larger;
    color: green;
    background-color: yellowgreen;
}

#foods {
    font-size: larger;
    color: green;
    background-color: yellowgreen;
}

#readtime {
    font-size: medium;
}
#hobbies-title {
    font-size: larger;
    color: green;
    background-color: yellowgreen;
}
#footer-logo {
    font-size: larger;
    color: green;
}

#authour {
    font-size: large;
}
#lastposted {
    font-size: medium;
}